# Python
__pycache__/
*.py[cod]
*.egg-info/

# Data (large files)
data/osm/*.graphml
data/raw/*.osm
*.zip

# Environment
.env
*.env.local
.venv/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Streamlit
.streamlit/
cache/
*.streamlit/

# SUMO (large files)
sumo/networks/*.net.xml
sumo/networks/*.osm.xml
sumo/networks/*.nod.xml
sumo/networks/*.edg.xml
outputs/
sumo/routes/*
sumo/configs/*
!sumo/configs/.gitkeep
